.contenedorform{
 display: flex;
 justify-content: center;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: tomato;
    margin-top: 2%;

}

.form{
    width: 300px;
    align-items: center;
    margin-top:2%;
   
}
.label{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 3%;
}
.select{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 1%;
}
.btn{
    width: 100%;
    border-radius: 3%;
    margin-top: 4px;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
