.tableticketuso{
    width: 90%;
    margin-top: 8%;
    margin-left:9%;
}

td{
    width: 20px;
}

h2{
    margin-top: 3%;
    color: tomato;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}