{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'imgs/bus.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>tickets</title>
    <link rel="stylesheet" href="{% static 'css/tableTIC.css' %}">
</head>
    <body  class="body">
      
      
        <h2 class=" titulo">tus tickets</h2>
        
          <table class="table table-striped tableticketuso" >
             <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">salida</th>
                <th scope="col">destino</th>
                <th scope="col">horario</th>
                <th scope="col">tarifa</th>
                <th scope="col-1">
                  <a class="btn btn-outline-info" href="/formrtickets">registar</a>
                  <a class="btn btn-outline-warning" href="/menu">atras</a>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in tickets %}
              <tr>
                <td>{{ticket.id}}</td>
                <td>{{ticket.ciudad}}</td>
                <td>{{ticket.ciudadD}}</td>
                <td>{{ticket.hora_salida}}</td>
                <td>{{ticket.precios}}</td>
                <td>
                  <a  class="btn btn-success btn" href="editarticket/{{ ticket.id }}">editar</a>

                  <a onclick="return confirm('esta seguro que desea borrar el ticket');"  class="btn btn-danger btn" href="borrarticket/{{ ticket.id }}"> borrar</a>  
                  </td>
              </tr>
             {% endfor %}
             
            </tbody>
          </table>

          
      
        <script
           src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
  
  
  </body>
</html>