{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/bus.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>BIENVENIDO</title>
    <link rel="stylesheet" href="{% static 'css/indexs.css' %}">
</head>
<body class="bodyIndex">
    <div class="contenedortitulo">
      <a class="nameforpage" href="/menu" >world travel</a>
    </div>
    <div class="containerA">
      <a class="inicio" href="/menu">iniciar</a>
      <hr class="linea">
    </div>
</body>
</html>